<div class="box box--password-change" ng-class="{'.box--invalid': hasError}">
  <img src="images/logo.png" width="443" height="69" class="animated fadeInDown" />
  <form name="changePassForm" class="box__form animated fadeInUp" ng-submit="changePassword(email, changePasswordRequestBean)">
    <input type="email" class="box__input" ng-model="email" placeholder="{{'ACCESS_EMAIL' | translate}}" spellcheck="false" required />
    <input type="password" class="box__input" ng-model="changePasswordRequestBean.password" placeholder="{{'ACCESS_PASSWORD' | translate}}" required />
    <input type="password" class="box__input" ng-model="changePasswordRequestBean.passwordConfirm" placeholder="{{'ACCESS_CONFIRM_PASSWORD' | translate}}" required/>
    <button class="box__button box__button--secondary" ui-sref="login" translate>CANCEL</button>
    <button class="box__button" ng-disabled="changePassForm.$invalid" translate>CONTINUE</button>
  </form>
</div>
