<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:775px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" translate>SERVER_DETAILS</h4>
      </div>
      <div class="modal-body form--readonly" style="height:415px;">
        <div class="form__row form__row--double">
          <div class="form__label" translate>NAME</div>
          <input class="form__input" ng-model="server.name" disabled />
          <div class="form__label" translate>SUBNET_ID</div>
          <input class="form__input" ng-model="server.attributes.subnetId" disabled />
        </div>
        <div class="form__row form__row--double">
          <div class="form__label" translate>AMAZON_ID</div>
          <input class="form__input" ng-model="server.externalId" disabled />
          <div class="form__label" translate>LAUNCH_TIME</div>
          <input class="form__input" ng-model="server.started" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>PUBLIC_IP</div>
          <input class="form__input" ng-model="server.publicIp" disabled />
          <div class="form__label" translate>KEY_NAME</div>
          <input class="form__input" ng-model="server.attributes.key_name" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>PRIVATE_IP</div>
          <input class="form__input" ng-model="server.privateIp" disabled />
          <div class="form__label" translate>IMAGE_ID</div>
          <input class="form__input" ng-model="server.attributes.image" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>STATUS</div>
          <input type="text" class="form__input" ng-model="server.status" disabled />
          <div class="form__label" translate>ARCHITECTURE</div>
          <input type="text" class="form__input" ng-model="server.attributes.architecture" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>LOCATION</div>
          <input type="text" class="form__input" ng-model="server.location.name" disabled />
          <div class="form__label" translate>INSTANCE_TYPE</div>
          <input type="text" class="form__input" ng-model="server.attributes.instance_type" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>HYPERVISOR</div>
          <input type="text" class="form__input" ng-model="server.attributes.hypervisor" disabled />
          <div class="form__label" translate>KERNEL_ID</div>
          <input type="text" class="form__input" ng-model="server.attributes.kernel_id" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>EBS_OPTIMIZED</div>
          <div class="form__radios">
            <div class="form__radio" ng-class="{'selected': server.attributes.ebs_optimized }" translate>Yes</div>
            <div class="form__radio" ng-class="{'selected': !server.attributes.ebs_optimized }" translate>No</div>
          </div>
          <div class="form__label" translate>ROOT_DEVICE_NAME</div>
          <input type="text" class="form__input" ng-model="server.attributes.root_device_name" disabled />
        </div>
        <div class="form__row  form__row--double last">
          <div class="form__label" translate>SPOT_INSTANCE</div>
          <div class="form__radios">
            <div class="form__radio" ng-class="{'selected': server.attributes.spot_instance === 'true' }" translate>Yes</div>
            <div class="form__radio" ng-class="{'selected': !(server.attributes.spot_instance === 'true') }" translate>No</div>
          </div>
          <div class="form__label" translate>ROOT_DEVICE_TYPE </div>
          <input type="text" class="form__input" ng-model="server.attributes.root_device_type" disabled />
        </div>
      </div>
    </div>
  </div>
</div>
