}<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" translate>ARE_YOU_SURE</h4>
      </div>
      <div class="modal-body">
          <button type="button" class="btn btn-success" ng-click="yes()" style="width:49%;" translate>YES</button>
          <button type="button" class="btn btn-danger" ng-click="$hide()" style="width:49%;" translate>NO</button>
      </div>
    </div>
  </div>
</div>
