<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <div class="aside-close" ng-click="$hide()">&#xe2aa;</div>
        <h4 class="aside-title" translate>ADMIN_MENU_CLIENTS_TITLE</h4>
      </div>
      <div class="aside-body">
        <div class="customer-actions">
          <input class="customer-search" ng-model="search.name">
          <div class="customer-search-icon">F</div>
          <button class="customer-manage" ui-sref="app.customers-management" ng-click="$hide()" translate>CUSTOMERS_MANAGEMENT</button>
        </div>
        <div ng-if="clients.length === 0" class="no-customers" translate>ADMIN_MENU_NO_CLIENTS</div>
        <div ng-repeat="client in clients | filter:search | orderBy:'name'" ng-class="{'disabled': !client.enabled}"
          class="customer-selection" ng-click="selectClient(client)">{{client.name}}</div>
      </div>
    </div>
  </div>
</div>
