<div class="aside aside--secondary" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <div class="aside-close" ng-click="$hide()">&#xe2aa;</div>
        <h4 class="aside-title" translate>INSTANCE_AVAILABLE_ELASTIC_IPS</h4>
      </div>
      <div class="aside-body">
        <div class="secondary-aside-body">
          <div class="cp-table-container cp-table-container--min">
            <table class="cp-table">
              <colgroup>
                <col class="col-publicIp">
                <col class="col-instanceId">
                <col class="col-action">
              </colgroup>
              <thead>
                <tr class="unselectable">
                  <th translate>PUBLIC_IP</th>
                  <th>INSTANCE_ID</th>
                  <th translate>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr class="unselectable" ng-repeat="row in availableElasticIps">
                  <td>
                    <span>{{row.publicIp}}</span>
                  </td>
                  <td>
                    <span>{{row.instanceId}}</span>
                  </td>
                  <td><span ng-click="addEip(row.allocationId)" class="btn btn-primary btn-sm">ASSIGN</span></td>
                </tr>
              </tbody>
            </table>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="aside-content">
      <div class="aside-header">
        <h4 class="aside-title" translate>INSTANCE_ELASTIC_IPS</h4>
      </div>
      <div class="aside-body">
        <div class="secondary-aside-body">
          <div class="cp-table-container cp-table-container--min">
            <table class="cp-table">
              <colgroup>
                <col class="col-publicIp">
                <col class="col-instanceId">
                <col class="col-action">
              </colgroup>
              <thead>
                <tr class="unselectable">
                  <th translate>PUBLIC_IP</th>
                  <th>INSTANCE_ID</th>
                  <th translate>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr class="unselectable" ng-repeat="row in instanceElasticIps">
                  <td>
                    <span>{{row.publicIp}}</span>
                  </td>
                  <td>
                    <span>{{row.instanceId}}</span>
                  </td>
                  <td><span ng-click="removeEip(row.publicIp)" class="btn btn-primary btn-sm">RELEASE</span></td>
                </tr>
              </tbody>
            </table>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
