<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:670px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" translate>FEEDBACK_SUGGESTIONS</h4>
      </div>
      <div class="modal-body" style="height:250px;">
        <textarea class="feedback-area" ng-model="message" spellcheck="off"></textarea>
      </div>
      <div class="modal-footer modal-footer--feedback">
        <button type="button" class="btn btn-default" ng-click="$hide()" translate>CANCEL</button>
        <button type="button" class="btn btn-primary" ng-click="sendFeedback(message)" translate>SEND</button>
      </div>
    </div>
  </div>
</div>
