<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:690px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" translate>REMOVE_GROUP</h4>
      </div>
      <div class="modal-body" style="height:100px;">
        <div class="form__row last">
          <div class="form__label required" translate>GROUP</div>
          <input class="form__input" ng-model="groupName" spellcheck="false" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()" translate>CANCEL</button>
        <button type="button" class="btn btn-primary" ng-click="removeGroup(groupName)" translate>REMOVE</button>
      </div>
    </div>
  </div>
</div>
