<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog--small">
    <div class="modal-content" ng-form name="form">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>
      <div class="modal-body popup-form">
        <div class="popup-form__row">
          <span class="input" input-filled="activeRegion.name">
            <input id="regionName" ng-model="activeRegion.name" class="input__field" type="text" required spellcheck="false">
            <label class="input__label" for="regionName">
              <span class="input__label-content required">Region Name</span>
            </label>
          </span>
        </div>
        <div class="popup-form__row">
          <span class="input" input-filled="activeRegion.regionId">
            <input id="regionId" ng-model="activeRegion.regionId" class="input__field" type="text" required spellcheck="false">
            <label class="input__label" for="regionId">
              <span class="input__label-content required">Region ID</span>
            </label>
          </span>
        </div>
        <div class="popup-form__row">
          <span class="input" input-filled="activeRegion.latitude">
            <input id="latitude" ng-model="activeRegion.latitude" class="input__field" type="text" required spellcheck="false">
            <label class="input__label" for="latitude">
              <span class="input__label-content required">Latitude</span>
            </label>
          </span>
        </div>
        <div class="popup-form__row">
          <span class="input" input-filled="activeRegion.longitude">
            <input id="longitude" ng-model="activeRegion.longitude" class="input__field" type="text" required spellcheck="false">
            <label class="input__label" for="longitude">
              <span class="input__label-content required">Longitude</span>
            </label>
          </span>
        </div>

        <div class="popup-form__row">
          <div class="radios">
            <div class="radios__option radios__option--inline" ng-class="{'selected': activeRegion.provider == 'AMAZON'}" ng-click="activeRegion.provider = 'AMAZON'">Amazon</div>
            <div class="radios__option radios__option--inline" ng-class="{'selected': activeRegion.provider == 'SOFTLAYER'}" ng-click="activeRegion.provider = 'SOFTLAYER'">SoftLayer</div>
          </div>
        </div>
      </div>
      <div class="modal-footer popup-form">
        <button type="button" class="btn btn-default" ng-click="$hide()" translate>CANCEL</button>
        <ng-switch on="activeRegion.id || '_UNDEFINED_'">
          <button type="button" class="btn btn-primary" ng-click="modalCallback()" ng-switch-when="_UNDEFINED_" ng-disabled="form.$invalid" translate>CREATE</button>
          <button type="button" class="btn btn-primary" ng-click="modalCallback()" ng-switch-default translate>UPDATE</button>
        </ng-switch>
      </div>
    </div>
  </div>
</div>
