<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:690px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>

        <div class="modal-body" ng-form name="form">

          <div class="form__label required">Name </div>
          <input class="form__input required" type="text" placeholder="Name" required ng-model="eventname" pattern="([A-Za-z0-9-_]+)" />
          <hr>


          <br/>

          <div class="form__label ">Categories</div>
          <div class="form__row" ng-repeat="category in categories ">
            <input ng-model="category.categoryid" required class="hidden" />
            <div class="form__label required">{{category.name}}</div>
            <input class="form__input " ng-model="category.valor" required spellcheck="false" />
          </div>
        </div>
        <hr>
        <br/>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()" translate>CANCEL</button>
        <button type="button" class="btn btn-primary" ng-click="runChannel()" ng-disabled="form.$invalid" translate>START CHANNEL</button>
      </div>
    </div>
  </div>
</div>
