
<div class="state-title tab__bar">
  <span translate>MENU_ADMIN_DASHBOARD</span>
  <button class="primary-bglight-button button--arrow right" ng-if="(isAuthorized([roles.CH_USER_ADMIN,roles.CH_USER_LIMITED, roles.CH_SYSTEM_ADMIN]))" translate
      data-animation="am-flip-x" bs-dropdown="tools" data-placement="bottom-right" translate>TOOLS</button>
</div>

<div class="dashboard">

  <div class="cloudpoxeeStats panel panel--highlight js-main-metrics">
    <div class="cloudpoxeeStat">
      <div class="count">{{mainStats.clientCount}}</div>
      <div class="count-label" data-icon-before="&#xe351;" translate>
        ADMIN_DASHBOARD_CLIENTS
      </div>
    </div>
    <div class="cloudpoxeeStat">
      <div class="count">{{mainStats.userCount}}</div>
      <div class="count-label" data-icon-before="&#xe0ea;" translate>
        ADMIN_DASHBOARD_USERS
      </div>
    </div>
    <div class="cloudpoxeeStat">
      <div class="count">{{mainStats.cloudCount}}</div>
      <div class="count-label" data-icon-before="&#xe1bd;" translate>
        ADMIN_DASHBOARD_CLOUDS
      </div>
    </div>
  </div>

  <div class="details">
    <!-- Resources summary -->
    <div class="resources panel js-resources-summary">
      <div class="panel__header">
        <span translate>RESOURCE_SUMMARY</span>
      </div>
      <div class="panel__details">
        <div class="resources__summary">
          <div class="summary__title">AMAZON</div>
          <div>
            <div class="resources__description">
              <span class="resources__count">{{summary.amazonRunningServers}}</span>
              <span class="resources__label" translate>RUNNING_SERVERS</span>
            </div>
            <div class="resources__description">
              <span class="resources__count">{{summary.amazonStoppedServers}}</span>
              <span class="resources__label" translate>STOPPED_SERVERS</span>
            </div>
            <div class="resources__description">
              <span class="resources__count">{{summary.amazonServers}}</span>
              <span class="resources__label" translate>TOTAL_SERVERS</span>
            </div>
            <div class="resources__description">
              <span class="resources__count">{{summary.amazonLoadBalancers}}</span>
              <span class="resources__label" translate>DASHBOARD_LOAD_BALANCER</span>
            </div>
            <div class="resources__description">
              <span class="resources__count">{{summary.amazonVolumes}}</span>
              <span class="resources__label" translate>VOLUMES</span>
            </div>
          </div>
        </div>
        <div class="resources__summary">
          <div class="summary__title">SOFTLAYER</div>
          <div>
            <div class="resources__description">
              <span class="resources__count">{{summary.softlayerServers}}</span>
              <span class="resources__label" translate>RUNNING_SERVERS</span>
            </div>
            <div class="resources__description">
              <span class="resources__count">{{summary.softlayerStoppedServers}}</span>
              <span class="resources__label" translate>STOPPED_SERVERS</span>
            </div>
            <div class="resources__description">
              <span class="resources__count">{{summary.softlayerServers}}</span>
              <span class="resources__label" translate>TOTAL_SERVERS</span>
            </div>
            <div class="resources__description">
              <span class="resources__count">{{summary.softlayerLoadBalancers}}</span>
              <span class="resources__label" translate>DASHBOARD_LOAD_BALANCER</span>
            </div>
            <div class="resources__description">
              <span class="resources__count">{{summary.softlayerVolumes}}</span>
              <span class="resources__label" translate>VOLUMES</span>
            </div>
          </div>
        </div>
        <div class="resources__summary" ng-if="data[0] > 0 || data[1] > 0">
          <canvas class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colors="colours" chart-options="options" height="200px"></canvas>
        </div>
      </div>
    </div>

    <!-- Usage details -->
    <div class="groups panel js-usage-details">
      <div class="panel__header">
        <span translate>ADMIN_DASHBOARD_USAGE_DETAILS</span>
      </div>
      <div class="panel__details">
        <div class="details__left">
          <div class="admin-detail-label" translate>SERVERS</div>
          <div class="provider-section">
            <div class="provider-load">
              <div class="provider-icon amazon-icon"></div>
              <div class="load-bar">
                <div class="filled-bar"
                  ng-style="{'width': (205 * usageDetails.amazonServers) / usageDetails.totalServers}"></div>
              </div>
              <div class="provider-count">{{usageDetails.amazonServers}}</div>
            </div>
            <div class="provider-load">
              <div class="provider-icon softlayer-icon"></div>
              <div class="load-bar">
                <div class="filled-bar"
                  ng-style="{'width': (205 * usageDetails.softlayerServers) / usageDetails.totalServers}"></div>
              </div>
              <div class="provider-count">{{usageDetails.softlayerServers}}</div>
            </div>
          </div>
          <div class="admin-detail-label" translate>LOAD_BALANCERS</div>
          <div class="provider-section">
            <div class="provider-load">
              <div class="provider-icon amazon-icon"></div>
              <div class="load-bar">
                <div class="filled-bar"
                  ng-style="{'width': (205 * usageDetails.amazonBalancers) / usageDetails.totalBalancers}"></div>
              </div>
              <div class="provider-count">{{usageDetails.amazonBalancers}}</div>
            </div>
            <div class="provider-load">
              <div class="provider-icon softlayer-icon"></div>
              <div class="load-bar">
                <div class="filled-bar"
                  ng-style="{'width': (205 * usageDetails.softlayerBalancers) / usageDetails.totalBalancers}"></div>
              </div>
              <div class="provider-count">{{usageDetails.softlayerBalancers}}</div>
            </div>
          </div>
        </div>
        <div class="details__right">
          <div class="admin-detail-label" translate>VOLUMES</div>
          <div class="provider-section">
            <div class="provider-load">
              <div class="provider-icon amazon-icon"></div>
              <div class="load-bar">
                <div class="filled-bar"
                  ng-style="{'width': (205 * usageDetails.amazonVolumes) / usageDetails.totalVolumes}"></div>
              </div>
              <div class="provider-count">{{usageDetails.amazonVolumes}}</div>
            </div>
            <div class="provider-load">
              <div class="provider-icon softlayer-icon"></div>
              <div class="load-bar">
                <div class="filled-bar"
                  ng-style="{'width': (205 * usageDetails.softlayerVolumes) / usageDetails.totalVolumes}"></div>
              </div>
              <div class="provider-count">{{usageDetails.softlayerVolumes}}</div>
            </div>
          </div>
          <div class="admin-detail-label" translate>SNAPSHOTS</div>
          <div class="provider-section">
            <div class="provider-load">
              <div class="provider-icon amazon-icon"></div>
              <div class="load-bar">
                <div class="filled-bar"
                  ng-style="{'width': (205 * usageDetails.amazonSnapshots) / usageDetails.totalSnapshots}"></div>
              </div>
              <div class="provider-count">{{usageDetails.amazonSnapshots}}</div>
            </div>
            <div class="provider-load">
              <div class="provider-icon softlayer-icon"></div>
              <div class="load-bar">
                <div class="filled-bar"
                  ng-style="{'width': (205 * usageDetails.softlayerSnapshots) / usageDetails.totalSnapshots}"></div>
              </div>
              <div class="provider-count">{{usageDetails.softlayerSnapshots}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Activity stream -->
  <div class="activity panel js-activity-stream">
    <div class="panel__header panel__header-withSelect">
      <span translate>ACTIVITY_STREAM</span>
      <select ui-select2="{ minimumResultsForSearch: 6, width: 200, containerCssClass: 'select--client', dropdownCssClass : 'dropdownSelect dropdownSelect--client' }" ng-model="clientSelected">
        <option value="">All clients</option>
        <option value="{{customer.id}}" ng-repeat="customer in clients">{{customer.name}}</option>
      </select>
    </div>
    <div class="panel__details">
      <activity-entry event="event" ng-repeat="event in eventResult.events"></activity-entry>
      <div class="activity__message-empty" ng-if="!eventResult || eventResult.events.length == 0" translate>ACTIVITY_EMPTY</div>
    </div>
    <div class="panel__footer">
      <pagination total-items="eventResult.eventsCount" ng-model="currentEventsPage" max-size="0" ng-change="reloadPage(currentEventsPage)"
          class="panel__pagination" next-text="b" previous-text="t"></pagination>
    </div>
  </div>

</div>
