<div class="box box--forgotPassword" ng-class="{'box--invalid': hasError}">
  <img src="images/logo.png" width="443" height="69" class="animated fadeInDown" />
  <form name="requestPasswordForm" class="box__form animated fadeInUp" ng-submit="changePassword(email)">
    <div class="box__note" translate>FORGOT_DESCRIPTION</div>
    <input type="email" class="box__input" ng-model="email" placeholder="{{'ACCESS_EMAIL' | translate}}" spellcheck="false" required />
    <button class="box__button box__button--secondary" ui-sref="login" translate>CANCEL</button>
    <button class="box__button" translate>CONTINUE</button>
  </form>
</div>
