<div class="aside aside--secondary" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <div class="aside-close" ng-click="$hide()">&#xe2aa;</div>
        <h4 class="aside-title" translate>LIQUIDWARE</h4>
      </div>
      <div class="aside-body">
        <div class="secondary-aside-body" ng-form name="form">
          <div class="scheduling-field">
            <input type="text" class="hidden" ng-model="liquidware.liquidwareConfiguration.idaccount">
            <div class="padding-top-md">
              <div style="display: flex">
                <input type="checkbox" ng-model="liquidware.liquidwareConfiguration.internal">
                <div class="padding-y-sm" translate>USES_LIQUIDWARE_INTERNAL</div>
              </div>
            </div>


            <div ng-if="liquidware.liquidwareConfiguration.internal != true">
              <br>
              <hr>
              <br>
              <div class="scheduling-field__label" translate>URL</div>
              <div class="scheduling-field__value">
                <input type="text" class="input-field single-field" ng-model="liquidware.liquidwareConfiguration.url" required/>
              </div>
              <div class="scheduling-field__label" translate>USERNAME</div>
              <div class="scheduling-field__value">
                <input type="text" class="input-field single-field" ng-model="liquidware.liquidwareConfiguration.username" required/>
              </div>
              <div class="scheduling-field__label" translate>PASSWORD</div>
              <div class="scheduling-field__value">
                <input type="text" class="input-field single-field" ng-model="liquidware.liquidwareConfiguration.password" required/>
              </div>
            </div>
            <hr>
            <div <div class="aside-footer">
              <button class="secondary-bglight-button" ng-click="$hide()">Cancel</button>
              <button class="primary-bglight-button" ng-click="execute()" ng-disabled="form.$invalid">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
