<div ng-if="showSelection">
  <div class="scheduling-field">
    <div class="scheduling-field__label" translate>PERFORM_WHEN_STATUS_IS</div>
    <div class="scheduling-field__value">
      <select ui-select2="{ minimumResultsForSearch: -1, width: '100%' }" ng-model="model.status">
        <option value="RUNNING" translate>RUNNING</option>
        <option value="STOPPED" translate>STOPPED</option>
      </select>
    </div>
  </div>
</div>
<ng-include src="'views/templates/scheduling/scheduling-servers.html'"></ng-include>
