<div ng-if="showSelection">
  <div class="scheduling-field">
    <div class="scheduling-field__label" translate>ELASTIC_IP</div>
    <div class="scheduling-field__value">
      <tags-input ng-model="model.elasticIps" key-property="id" display-property="label" tag-class="'scheduling-item'" placeholder="Add a elastic ip" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
        <auto-complete source="loadItems($query)" load-on-empty="true" load-on-focus="true"></auto-complete>
      </tags-input>
    </div>
  </div>
</div>

<!-- Scheduling -->
<ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>
