<div ng-if="showSelection">
  <div class="scheduling-field">
    <div class="scheduling-field__label" translate>EC2_COMMAND</div>
    <div class="scheduling-field__value">
      <select ui-select2="{ minimumResultsForSearch: 6, width: '100%' }" ng-model="model.selectionId" ng-change="updateSelection()">
        <option value="">Select a command</option>
        <option value="{{command.id}}" ng-repeat="command in commands">{{command.name}} ({{command.location.name}})</option>
      </select>
    </div>
  </div>
</div>

<div class="scheduling-field">
  <div class="scheduling-field__label" translate>SERVERS</div>
  <div class="scheduling-field__value">
    <tags-input ng-model="model.servers" key-property="id" display-property="label" tag-class="'scheduling-item'" placeholder="Add a server" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
      <auto-complete source="loadItems($query)" load-on-empty="true" load-on-focus="true"></auto-complete>
    </tags-input>
  </div>
  <div class="scheduling-field__note" ng-if="model.selection.location.name">
    This command is only available to be executed on Amazon servers in {{model.selection.location.name}}.
  </div>
</div>

<div class="scheduling-field" ng-repeat="parameter in model.selection.parameters">
  <div class="scheduling-field__label highlight">{{parameter.name}}</div>
  <div class="scheduling-field__value">
    <textarea ng-model="parameter.value"></textarea>
  </div>
  <div class="scheduling-field__note">{{parameter.description}}</div>
</div>

<!-- Scheduling -->
<ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>
