<div ng-if="showSelection">
  <div class="scheduling-field">
    <div class="scheduling-field__label" translate>LAMBDA</div>
    <div class="scheduling-field__value">
      <select ui-select2="{ minimumResultsForSearch: 6, width: '100%' }" ng-model="model.selectionId">
        <option value="">Select a function</option>
        <option value="{{lambda.id}}" ng-repeat="lambda in lambdas">{{lambda.functionName}}</option>
      </select>
    </div>
  </div>
</div>

<div class="scheduling-division" style="margin-top: 0" ng-if="!showSelection">
  Schedule to run <span class="highlight">{{model.task.name}}<</span>.
</div>

<div class="scheduling-field">
  <div class="scheduling-field__label" translate>PAYLOAD</div>
  <div class="scheduling-field__value">
    <div ui-ace="{
        mode: 'json',
        theme: 'merbivore'
      }" ng-model="model.payload" style="height: 150px"></div>
  </div>
</div>

<!-- Scheduling -->
<ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>








