<div class="aside aside--secondary" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <div class="aside-close" ng-click="$hide()">&#xe2aa;</div>
        <h4 class="aside-title" translate>SCHEDULING</h4>
      </div>
      <div class="aside-body">
        <div class="secondary-aside-body">
          <div ng-switch="view">
            <div ng-switch-when="SELECTION">
              <div class="title">Select type of cloud item you want to schedule:</div>
              <div>
                <button class="schedule-action-btn" ng-click="selectCloudItem('SERVERS')" translate>SERVERS</button>
                <button class="schedule-action-btn" ng-click="selectCloudItem('VOLUMES')" translate>VOLUMES</button>
                <button class="schedule-action-btn" ng-click="selectCloudItem('GROUPS')" translate>MENU_GROUPS</button>
                <button class="schedule-action-btn" ng-click="selectCloudItem('LAMBDA')" translate>MENU_LAMBDAS</button>
                <button class="schedule-action-btn" ng-click="selectCloudItem('EC2_COMMAND')" translate>EC2_COMMANDS</button>
                <button class="schedule-action-btn" ng-click="selectCloudItem('WORKSPACES')" translate>WORKSPACES</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- SERVERS SCHEDULING                 -->
            <!-- ################################## -->
            <div ng-switch-when="SERVERS_SELECTION">
              <ng-include src="'views/templates/scheduling/scheduling-servers.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="schedule()">SCHEDULE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- SERVERS REVERSE SCHEDULING                 -->
            <!-- ################################## -->
            <div ng-switch-when="REVERSE_SCHEDULE_SELECTION">
              <ng-include src="'views/templates/scheduling/reverse-scheduling-servers.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="reverseSchedule()">SCHEDULE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- SERVERS ELASTIC IP SCHEDULING                 -->
            <!-- ################################## -->
            <div ng-switch-when="ELASTIC_IP_SCHEDULE_SELECTION">
              <ng-include src="'views/templates/scheduling/scheduling-servers-elastic-ip.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="createElasticIpSchedule()">SCHEDULE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- VOLUMES SCHEDULING                 -->
            <!-- ################################## -->
            <div ng-switch-when="VOLUMES_SELECTION">
              <ng-include src="'views/templates/scheduling/scheduling-volumes.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="schedule()">SCHEDULE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- VOLUMES RESIZE SCHEDULING                 -->
            <!-- ################################## -->
            <div ng-switch-when="VOLUMES_RESIZE_SELECTION">
              <ng-include src="'views/templates/scheduling/scheduling-volumes-resize.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="schedule()">SCHEDULE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- GROUPS SCHEDULING            -->
            <!-- ################################## -->
            <div ng-switch-when="GROUPS_SELECTION">
              <ng-include src="'views/templates/scheduling/scheduling-groups.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="schedule()">SCHEDULE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- LAMBDA SCHEDULING                  -->
            <!-- ################################## -->
            <div ng-switch-when="LAMBDA_SELECTION">
              <ng-include src="'views/templates/scheduling/scheduling-lambda.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="schedule()">SCHEDULE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- EC2 COMMANDS SCHEDULING            -->
            <!-- ################################## -->
            <div ng-switch-when="EC2_COMMAND_SELECTION">
              <ng-include src="'views/templates/scheduling/scheduling-ec2-commands.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="schedule()">SCHEDULE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- UPDATE GENERIC TASK SCHEDULING     -->
            <!-- ################################## -->
            <div ng-switch-when="UPDATE_TASK_SELECTION">

              <!-- Scheduling -->
              <ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="updateTask()">UPDATE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- UPDATE GENERIC TASK SCHEDULING     -->
            <!-- ################################## -->
            <div ng-switch-when="UPDATE_REVERSE_SCHEDULE_SELECTION">

              <!-- Scheduling -->
              <ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="updateTask()">UPDATE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- UPDATE GROUP TASK SCHEDULING     -->
            <!-- ################################## -->
            <div ng-switch-when="UPDATE_GROUP_TASK_SELECTION">

              <div class="scheduling-field">
                <div class="scheduling-field__label" translate>GROUPS_SCHEDULING_EXCLUSIONS</div>
                <div class="scheduling-field__value">
                  <tags-input ng-model="model.exclusions" key-property="id" display-property="label" tag-class="'scheduling-item'" placeholder="Add instances to exclude" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                    <auto-complete source="loadServers($query)" load-on-empty="true" load-on-focus="true"></auto-complete>
                  </tags-input>
                </div>
              </div>

              <!-- Scheduling -->
              <ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="updateGroupTask()">UPDATE</button>
              </div>
            </div>

            <!-- ##################################### -->
            <!-- UPDATE TAKE SNAPSHOTS TASK SCHEDULING -->
            <!-- ##################################### -->
            <div ng-switch-when="UPDATE_SNAPSHOT_TASK_SELECTION">

              <div class="scheduling-field scheduling-field--nomargin">
                <div class="scheduling-field__label" translate>COPY_DESTINATION</div>
                <div class="scheduling-field__value">
                  <select ui-select2="{ minimumResultsForSearch: 6, width: '100%' }" ng-model="model.region">
                    <option value="" translate>NONE</option>
                    <option value="ap-northeast-1">Asia Pacific (Tokyo)</option>
                    <option value="ap-southeast-1">Asia Pacific (Singapore)</option>
                    <option value="ap-southeast-2">Asia Pacific (Sydney)</option>
                    <option value="eu-central-1">EU (Frankfurt)</option>
                    <option value="eu-west-1">EU (Ireland)</option>
                    <option value="sa-east-1">South America (Sao Paulo)</option>
                    <option value="us-east-1">US East (N. Virginia)</option>
                    <option value="us-west-1">US West (N. California)</option>
                    <option value="us-west-2">US West (Oregon)</option>
                  </select>
                </div>
              </div>

              <!-- Scheduling -->
              <ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="updateSnapshotTask()">UPDATE</button>
              </div>
            </div>

            <!-- ####################################### -->
            <!-- UPDATE DELETE SNAPSHOTS TASK SCHEDULING -->
            <!-- ####################################### -->
            <div ng-switch-when="UPDATE_DELETE_SNAPSHOT_TASK_SELECTION">

              <div class="scheduling-field scheduling-field--nomargin">
                <div class="scheduling-field__label" translate>MAX_AGE</div>
                <div class="scheduling-field__value">
                  <select ui-select2="{ minimumResultsForSearch: -1, width: '100%' }" ng-model="model.maxAge">
                    <option value="1" translate>1_DAY</option>
                    <option value="2" translate>2_DAYS</option>
                    <option value="3" translate>3_DAYS</option>
                    <option value="4" translate>4_DAYS</option>
                    <option value="5" translate>5_DAYS</option>
                    <option value="6" translate>6_DAYS</option>
                    <option value="7" translate>1_WEEK</option>
                    <option value="28" translate>4_WEEKS</option>
                  </select>
                </div>
              </div>

              <!-- Scheduling -->
              <ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="updateDeleteSnapshotTask()">UPDATE</button>
              </div>
            </div>

            <!-- ################################## -->
            <!-- UPDATE INVOKE LAMBDA SCHEDULING    -->
            <!-- ################################## -->
            <div ng-switch-when="UPDATE_INVOKE_LAMBDA_TASK_SELECTION">
              <div class="scheduling-division scheduling-division--momargintop">
                Schedule to run <span class="highlight">{{model.task.name}}</span>.
              </div>

              <div class="scheduling-field">
                <div class="scheduling-field__label" translate>PAYLOAD</div>
                <div class="scheduling-field__value">
                  <div ui-ace="{
                      mode: 'json',
                      theme: 'merbivore'
                    }" ng-model="model.payload" style="height: 150px"></div>
                </div>
              </div>

              <!-- Scheduling -->
              <ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="updateInvokeLambdaTask()">UPDATE</button>
              </div>
            </div>


            <!-- ################################## -->
            <!-- UPDATE EC2 COMMAND SCHEDULING      -->
            <!-- ################################## -->
            <div ng-switch-when="UPDATE_EC2_COMMAND_TASK_SELECTION">
              <!-- TODO Let the user edit the parameters -->

              <!-- Scheduling -->
              <ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="updateEc2CommandTask()">UPDATE</button>
              </div>
            </div>


            <!-- ################################## -->
            <!-- UPDATE EC2 COMMAND SCHEDULING      -->
            <!-- ################################## -->
            <div ng-switch-when="WORKSPACES_SELECTION">
              <!-- TODO Let the user edit the parameters -->

              <!-- Scheduling -->
              <ng-include src="'views/templates/scheduling/scheduling-workspaces.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="cancel()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="schedule()">UPDATE</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--
      <div ng-if="((view === 'UPDATE_REVERSE_SCHEDULE_SELECTION' || model.extendedSchedule) && model.task.id)">
        <div class="aside-header">
          <h4 class="aside-title" translate>ACTIONS</h4>
        </div>
        <div class="aside-body">
          <div class="secondary-aside-body">
            <div class="aside-action" ng-if="view === 'UPDATE_REVERSE_SCHEDULE_SELECTION'">
              <div class="scheduling-division" translate>REVERSE_SCHEDULE_ACTIONS</div>
              <div>
                <button class="primary-bglight-button" translate ng-click="cancelTaskActions()">CANCEL_REVERSE_SCHEDULE_ACTION</button>
              </div>
            </div>
            <div class="aside-action" ng-if="model.extendedSchedule">
              <div class="scheduling-division" translate>EXTENDED_SCHEDULE_ACTIONS</div>
              <div>
                <button class="secondary-bglight-button" translate ng-click="cancelExtendedScheduleAction()">CANCEL_EXTENDED_SCHEDULE_ACTION</button>
              </div>
              <div style="margin: 10px 0">
                <span style="padding-right: 10px">Delay in minutes</span> <input type="number" ng-model="model.minutesDelay" />
              </div>
              <button class="primary-bglight-button" translate ng-click="posponeExtendedScheduleAction()">POSPONE_EXTENDED_SCHEDULE_ACTION</button>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
