<div ng-if="showSelection">
  <div class="scheduling-field">
    <div class="scheduling-field__label" translate>ACTION</div>
    <div class="scheduling-field__value">
      <select ui-select2="{ minimumResultsForSearch: -1, width: '100%' }" ng-model="model.type">
        <option value="start" translate>SCHEDULING_START_GROUP</option>
        <option value="stop" translate>SCHEDULING_STOP_GROUP</option>
        <option value="reboot" translate>SCHEDULING_RESTART_GROUP</option>
        <option value="take_snapshot" translate>SCHEDULING_SNAPSHOT_GROUP_VOLUMES</option>
        <option value="delete_snapshot" translate>SCHEDULING_DELETE_SNAPSHOT_GROUP_VOLUMES</option>
      </select>
    </div>
    <div class="scheduling-field__note" ng-if="model.type == 'snapshot' || model.type == 'delete_snapshot'">
      This option is only available for Amazon groups.
    </div>
  </div>

  <div class="scheduling-field">
    <div class="scheduling-field__label" translate>GROUPS</div>
    <div class="scheduling-field__value">
      <tags-input ng-model="model.selection" key-property="id" display-property="label" tag-class="'scheduling-item'" placeholder="Add an group" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
        <auto-complete source="loadItems($query)" load-on-empty="true" load-on-focus="true"></auto-complete>
      </tags-input>
    </div>
  </div>
  <div class="scheduling-field">
    <div class="scheduling-field__label" translate>GROUPS_SCHEDULING_EXCLUSIONS</div>
    <div class="scheduling-field__value">
      <tags-input ng-model="model.exclusions" key-property="id" display-property="label" tag-class="'scheduling-item'" placeholder="Add instances to exclude" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
        <auto-complete source="loadServers($query)" load-on-empty="true" load-on-focus="true"></auto-complete>
      </tags-input>
    </div>
  </div>
</div>

<div class="scheduling-field scheduling-field--nomargin" ng-if="model.type == 'delete_snapshot'">
  <div class="scheduling-field__label" translate>MAX_AGE</div>
  <div class="scheduling-field__value">
    <select ui-select2="{ minimumResultsForSearch: -1, width: '100%' }" ng-model="model.maxAge">
      <option value="1" translate>1_DAY</option>
      <option value="2" translate>2_DAYS</option>
      <option value="3" translate>3_DAYS</option>
      <option value="4" translate>4_DAYS</option>
      <option value="5" translate>5_DAYS</option>
      <option value="6" translate>6_DAYS</option>
      <option value="7" translate>1_WEEK</option>
      <option value="28" translate>4_WEEKS</option>
    </select>
  </div>
</div>

<div class="scheduling-field scheduling-field--nomargin" ng-if="model.type == 'take_snapshot'">
  <div class="scheduling-field__label" translate>COPY_DESTINATION</div>
  <div class="scheduling-field__value">
    <select ui-select2="{ minimumResultsForSearch: 6, width: '100%' }" ng-model="model.region">
      <option value="" translate>NONE</option>
      <option value="ap-northeast-1">Asia Pacific (Tokyo)</option>
      <option value="ap-southeast-1">Asia Pacific (Singapore)</option>
      <option value="ap-southeast-2">Asia Pacific (Sydney)</option>
      <option value="eu-central-1">EU (Frankfurt)</option>
      <option value="eu-west-1">EU (Ireland)</option>
      <option value="sa-east-1">South America (Sao Paulo)</option>
      <option value="us-east-1">US East (N. Virginia)</option>
      <option value="us-west-1">US West (N. California)</option>
      <option value="us-west-2">US West (Oregon)</option>
    </select>
  </div>
</div>

<!-- Scheduling -->
<ng-include src="'views/templates/scheduling/scheduling-cron.html'"></ng-include>
