<div class="aside aside--secondary" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <div class="aside-close" ng-click="$hide()">&#xe2aa;</div>
        <h4 class="aside-title" translate-values='{ name: credential.accountName}' translate="CREDENTIAL"></h4>
      </div>
      <div class="aside-body">
        <div class="secondary-aside-body">
            <!-- ################################## -->
            <!-- IAM View aside                     -->
            <!-- ################################## -->
            <div ng-if="view === 'IAM_VIEW'">
              <ng-include src="'views/credentials/edit-iam-view-aside.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="$hide()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="saveEdit()">EDIT</button>
              </div>
            </div>
            <!-- ################################## -->
            <!-- Access Key View aside              -->
            <!-- ################################## -->
            <div ng-if="view  === 'ACCESS_KEY_VIEW'">
              <ng-include src="'views/credentials/edit-accesskey-view-aside.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="$hide()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="saveEdit()">EDIT</button>
              </div>
            </div>
            <!-- ################################## -->
            <!-- Softlayer View aside              -->
            <!-- ################################## -->
            <div ng-if="view  === 'SOFTLAYER_VIEW'">
              <ng-include src="'views/credentials/edit-softlayer-view-aside.html'"></ng-include>

              <div class="aside-footer">
                <button class="secondary-bglight-button" translate ng-click="$hide()">CANCEL</button>
                <button class="primary-bglight-button" translate ng-click="saveEdit()">EDIT</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
