<div class="credential-edit-division" translate>CREDENTIAL_EDIT_SUBTITLE</div>

<div class="credential-edit-field">
  <div class="credential-edit-field__label" translate>CREDENTIAL_EDIT_NAME</div>
  <div class="credential-edit-field__value">
    <input type="text" ng-model="credential.accountName" value="credential.accountName">
  </div>
</div>
<div class="credential-edit-field">
    <div class="credential-edit-field__label" translate>NEW_SOFTLAYER_USERNAME</div>
    <div class="credential-edit-field__value">
        <input type="text" ng-model="credential.username" value="credential.username" />
    </div>
</div>
<div class="credential-edit-field">
  <div class="credential-edit-field__label" translate>NEW_SOFTLAYER_API_KEY</div>
  <div class="credential-edit-field__value">
    <input type="text" ng-model="credential.apiKey" ng-init="credential.apiKey=''"/>
  </div>
</div>
