<div class="credential-edit-division" translate>CREDENTIAL_EDIT_SUBTITLE</div>

<div class="credential-edit-field">
  <div class="credential-edit-field__label" translate>CREDENTIAL_EDIT_NAME</div>
  <div class="credential-edit-field__value">
    <input type="text" ng-model="credential.accountName" value="credential.accountName">
  </div>
</div>
<div class="credential-edit-field">
    <div class="credential-edit-field__label" translate>NEW_ACCESSKEY_ID</div>
    <div class="credential-edit-field__value">
        <input type="text" ng-model="credential.accessKey" value="credential.accessKey" />
    </div>
</div>
<div class="credential-edit-field">
  <div class="credential-edit-field__label" translate>NEW_ACCESSKEY_SECRET_KEY</div>
  <div class="credential-edit-field__value">
    <input type="text" ng-model="credential.secretKey" ng-init="credential.secretKey=''"/>
  </div>
</div>
<div class="credential-edit-field">
  <div class="credential-edit-field__label" translate>Account Reach</div>
  <div class="credential-edit-field__value">
    <select ui-select2="{ minimumResultsForSearch: -1, width: 470, containerCssClass: 'containerSelect', dropdownCssClass : 'capitalizeSelect' }" ng-model="credential.accountReach">
      <option value="REGULAR">Regular Account</option>
      <option value="GOVCLOUD_US">GovCloud US</option>
      <option value="GOVCLOUD_CHINA">GovCloud China</option>
    </select>
  </div>
</div>
