<div st-table="displayedRows" st-safe-src="credentials">
  <div class="state-title tab__bar">
    <span class="tab__title animated fadeInUp" translate>CREDENTIALS</span>
    <button class="primary-bglight-button button--arrow right" data-animation="am-flip-x" bs-dropdown="ddOptions" data-placement="bottom-right" translate>NEW_CREDENTIALS</button>
    <button class="btn btn-default btn-schedule-delete" ng-click="deleteCredentials()">b</button>
  </div>

  <div class="cp-table-container">
    <table class="cp-table">
      <colgroup>
        <col class="col-check">
        <col class="col-name">
        <col class="col-credential-type">
        <col class="col-identifier">
      </colgroup>
      <thead>
        <tr class="unselectable">
          <th class="text-center" ng-if="displayedRows.length != 0">
            <div class="ch-checkbox" ng-class="{'active': allActive}" ng-click="toggleAll()"></div>
          </th>
          <th st-sort="name" translate>NAME</th>
          <th class="text-center" st-sort="accountType" translate>ACCOUNT_TYPE</th>
          <th class="text-center" st-sort="identifier" translate>IDENTIFIER</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="displayedRows.length == 0">
          <td colspan="4" translate>NO_CREDENTIALS</td>
        </tr>
        <tr class="unselectable actionable" ng-repeat="row in displayedRows" ng-click="toggleOne(row)">
          <td class="text-center">
            <div class="ch-checkbox" ng-class="{'active': row.active}"></div>
          </td>
          <td class="capitalize">{{row.accountName}}</td>
          <td class="text-center" translate>{{row.type}}</td>
          <td class="text-center">{{row.identifier}}</td>
          <td class="text-center">
            <span class="actionLnk" ng-click="editCredential($event, row)" translate>EDIT</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div st-pagination st-items-by-page="10"></div>
  </div>
</div>
