<div class="state-title animated fadeInUp">
  <span class="breadcrumbLink path" ui-sref="app.credentials" translate>MENU_CREDENTIALS</span>
  <span class="breadcrumbDivider">&gt;</span>
  <span translate>CREDENTIALS_NEW_BY_IAM_ROLE</span>
</div>

<div class="new-by-iam-role" ng-form name="form">
  <div class="new-by-iam-role-box">
    <div class="panel__header">
      <span translate>NEW_IAM_ROLE_HEADER_1</span>
    </div>
    <div class="box__instructions__container">
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_1' | translate"></div>
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_2' | translate"></div>
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_3' | translate"></div>
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_4' | translate"></div>
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_5' | translate"></div>
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_6' | translate"></div>
      <div class="box__instruction box__bulletpoints box__delimited">
        <div>
          <div translate>NEW_IAM_ROLE_INSTRUCTIONS_ACCOUNT_ID</div>
          <span>{{cloudpoxeeServerCredentials.masterAwsId}}</span>
          <span class="copyBtn" ngclipboard data-clipboard-text="{{cloudpoxeeServerCredentials.masterAwsId}}" ng-click="$event.stopPropagation()">&#xe216;</span>
        </div>
        <div>
          <div translate>NEW_IAM_ROLE_INSTRUCTIONS_EXTERNAL_ID</div>
          <span>{{cloudpoxeeServerCredentials.externalId}}</span>
          <span class="copyBtn" ngclipboard data-clipboard-text="{{cloudpoxeeServerCredentials.externalId}}" ng-click="$event.stopPropagation()">&#xe216;</span>
        </div>
        <div><div translate>NEW_IAM_ROLE_INSTRUCTIONS_MFA</div><span>No</span></div>
      </div>
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_7' | translate"></div>
      <div class="box__instruction box__bulletpoints">
        <div><span class="bullet-point">&#xe2a4;</span><div ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_7_BULLET_POINT_1' | translate"></div></div>
        <div><span class="bullet-point">&#xe2a4;</span><div ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_7_BULLET_POINT_2' | translate"></div></div>
        <div ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_7_BULLET_POINT_3' | translate"></div>
      </div>
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_8' | translate"></div>
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_9' | translate"></div>
      <div class="box__instruction" ng-bind-html="'NEW_IAM_ROLE_INSTRUCTIONS_STEP_10' | translate"></div>
    </div>
  </div>
  <div class="new-by-iam-role-box">
    <div class="panel__header">
      <span translate>NEW_IAM_ROLE_HEADER_2</span>
    </div>
    <div class="panel__description">
      <span translate>NEW_IAM_ROLE_DESCRIPTION_2</span>
    </div>
    <div class="box__row">
      <div class="box__label" translate>NEW_IAM_ROLE_NAME</div>
      <div class="box__value box__value--large">
        <input type="text" ng-model="credential.accountName" required />
      </div>
    </div>
    <div class="box__row">
      <div class="box__label" translate>NEW_IAM_ROLE_ARN</div>
      <div class="box__value box__value--large">
        <input type="text" ng-model="credential.roleArn" required />
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="secondary-bglight-button" translate ui-sref="app.credentials">CANCEL</button>
    <button class="primary-bglight-button" translate ng-click="saveCredential('AMAZON_ROLE_TYPE')" ng-disabled="form.$invalid">CREATE</button>
  </div>
</div>
