<div class="activity__entry">
  <img class="activity__gravatar" gravatar-src="email" gravatar-default="{{appPath + '/images/icons/avatarMissing.png'}}" gravatar-size="50" ng-if="showUserImage" />
  <img class="activity__gravatar" ng-src="{{'/images/icons/' + event.type + '.png'}}" ng-if="!showUserImage && event.type !== 'BEST_PRACTICE'" />
  <img class="activity__gravatar" ng-src="{{'/images/icons/' + event.type + '_' + event.level + '.png'}}" ng-if="!showUserImage && event.type == 'BEST_PRACTICE'" />
  <div class="message" ng-switch="event.type">
    <div ng-switch-when="INSTANCE_UNAVAILABLE">
      <span ng-bind-html="event.type | translate : event"></span>
      <span class="event-description" ng-bind-html="event.description"></span>
      <div class="activity__date">{{event.timestamp | date:'MM/dd/yyyy @ h:mm a'}}</div>
    </div>
    <div ng-switch-when="CLOUD_PROVIDER_EXCEPTION">
      <span ng-bind-html="event.type | translate : event"></span>
      <span class="event-description" ng-bind-html="event.description"></span>
      <span class="error-details-link" ng-click="displayDetails(event)" translate>MORE_DETAILS</span>
      <div class="activity__date">{{event.timestamp | date:'MM/dd/yyyy @ h:mm a'}}</div>
    </div>
    <div ng-switch-when="JS_BEST_PRACTICE_EXCEPTION">
      <span ng-bind-html="event.type | translate : event"></span>
      <span class="event-description" ng-bind-html="event.description"></span>
      <div class="activity__date">{{event.timestamp | date:'MM/dd/yyyy @ h:mm a'}}</div>
    </div>
    <div ng-switch-when="BEST_PRACTICE">
      <span ng-bind-html="(event.type + '_' + event.level) | translate : event"></span>
      <span class="event-description" ng-bind-html="event.description"></span>
      <div class="activity__date">{{event.timestamp | date:'MM/dd/yyyy @ h:mm a'}}</div>
    </div>
    <div ng-switch-when="INSTANCE_ACTION_SCHEDULED">
      <span ng-bind-html="event | reverse"></span>
      <div class="activity__date">{{event.timestamp | date:'MM/dd/yyyy @ h:mm a'}}</div>
      <div class="activity__actions" ng-if="now - event.timestamp < 240000 && !event.canceled">
        <button class="primary-bglight-button" ng-click="cancelReverse(event)" translate>CANCEL</button>
      </div>
      <div class="activity__action" ng-if="event.canceled">This action has been canceled.</div>
    </div>
    <div ng-switch-when="IMPENDING_SCHEDULE">
      <span ng-bind-html="event | impending"></span>
      <div class="activity__date">{{event.timestamp | date:'MM/dd/yyyy @ h:mm a'}}</div>

      <div class="activity__actions" ng-if="now - event.timestamp < 240000 && !event.canceled && !event.postponed">
        <button class="primary-bglight-button" ng-click="postpone(event)" translate>POSTPONE</button>
        <button class="secondary-bglight-button" ng-click="cancelImpending(event)" translate>CANCEL</button>
      </div>
      <div class="activity__action" ng-if="event.canceled">This action has been canceled.</div>
      <div class="activity__action" ng-if="event.postponed">This action has been postponed.</div>
    </div>
    <div ng-switch-default>
      <span ng-bind-html="event.type | translate : event"></span>
      <div class="activity__date">{{event.timestamp | date:'MM/dd/yyyy @ h:mm a'}}</div>
    </div>
  </div>
</div>
