<div class="aside aside--tertiary" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <div class="aside-close" ng-click="$hide()">&#xe2aa;</div>
        <h4 class="aside-title" translate>RUN_COMMAND_TITLE</h4>
      </div>
      <div class="aside-body">
        <div class="secondary-aside-body">
          <div class="scheduling-field">
            <div class="scheduling-field__label" translate>SERVERS</div>
            <div class="scheduling-field__value">
              <tags-input ng-model="model.selection" key-property="id" display-property="label" tag-class="'scheduling-item'" placeholder="Add a server" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                <auto-complete source="loadItems($query)" load-on-empty="true" load-on-focus="true"></auto-complete>
              </tags-input>
            </div>
            <div class="scheduling-field__note">
              This command is only available to be executed on Amazon servers in {{command.location.name}}.
            </div>
          </div>
          <div class="scheduling-field" ng-repeat="parameter in command.parameters">
            <div class="scheduling-field__label highlight">{{parameter.name}}</div>
            <div class="scheduling-field__value">
              <textarea ng-model="parameter.value"></textarea>
            </div>
            <div class="scheduling-field__note">{{parameter.description}}</div>
          </div>
          <div class="aside-footer">
            <button class="secondary-bglight-button" translate ng-click="$hide()">CANCEL</button>
            <button class="primary-bglight-button" translate ng-click="run()">RUN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
