<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:775px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" translate>SERVER_DETAILS</h4>
      </div>
      <div class="modal-body form--readonly" style="height:370px;">
        <div class="form__row form__row--double">
          <div class="form__label" translate>NAME</div>
          <input class="form__input" ng-model="server.name" disabled />
          <div class="form__label" translate>STATUS</div>
          <input class="form__input" ng-model="server.status" disabled />
        </div>
        <div class="form__row form__row--double">
          <div class="form__label" translate>SOFTLAYER_ID</div>
          <input class="form__input" ng-model="server.externalId" disabled />
          <div class="form__label" translate>CPUS</div>
          <input class="form__input" ng-model="server.attributes.cpus" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>PUBLIC_IP</div>
          <input class="form__input" ng-model="server.publicIp" disabled />
          <div class="form__label" translate>MAX_CPUS</div>
          <input class="form__input" ng-model="server.attributes.max_cpu" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>PRIVATE_IP</div>
          <input class="form__input" ng-model="server.privateIp" disabled />
          <div class="form__label" translate>MAX_CPU_UNITS</div>
          <input class="form__input" ng-model="server.attributes.max_cpu_units" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>PUBLIC_DNS</div>
          <input type="text" class="form__input" ng-model="server.publicDns" disabled />
          <div class="form__label" translate>BANDWIDTH_ALLOCATION</div>
          <input type="text" class="form__input" ng-model="server.attributes.bandwidth_allocation" disabled />
        </div>
        <div class="form__row  form__row--double">
          <div class="form__label" translate>LOCATION</div>
          <input type="text" class="form__input" ng-model="server.location.name" disabled />
          <div class="form__label" translate>PRIVATE_NETWORK_ONLY</div>
          <div class="form__radios">
            <div class="form__radio" ng-class="{'selected': server.attributes.private_network_only === 'true' }" translate>YES</div>
            <div class="form__radio" ng-class="{'selected': !(server.attributes.private_network_only === 'true') }" translate>NO</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
